{% extends "panier/layout.html.twig" %}

{% block body %}
    <!-- Container for demo purpose -->
    <div class="container my-24 mx-auto md:px-6">
        <!-- Section: Design Block -->
        <section class="mb-32 text-center lg:text-left">
            <style>
				@media(min-width: 992px) {
					.rotate-lg-6 {
						transform: rotate(6deg);
					}
				}
			</style>

            <div class="py-12 md:px-6 md:px-12">
                <div class="container mx-auto xl:px-32">
                    <div class="flex grid items-center lg:grid-cols-2">
                        <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                            <div class="relative z-[1] block rounded-lg bg-secondary-50 px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
                                <h2 class="mb-6 text-3xl font-bold">
                                    Dommage !
                                </h2>
                                <p class="mb-8 text-neutral-800 dark:text-neutral-300">
                                    Votre commande a bien été annulé, je vous invite à la renouveler ou à me contacter directement par telephone pour plus d'informations, sur mes services.							
                                </p>

                                <div class="grid gap-x-6 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-2">
                                    <div class="mb-6">
                                        <p class="flex items-center">
                                            <i class="fa-solid fa-mobile-screen-button pr-3 text-success"></i>
                                            {{ UBER_JEFF_TELEPHONE }}
                                        </p>
                                    </div>
                                    <div class="mb-6">
                                </div>
                                
                            </div>
                            {% include '/components/atoms/button.html.twig' with {
                               path_route: 'app_reservation',
                               content: 'Réserver une course'
                            } %}
                            </div>
                        </div>
                        <div class="md:mb-12 lg:mb-0">
                            <img src="https://mdbcdn.b-cdn.net/img/new/ecommerce/vertical/121.jpg" class="rotate-lg-6 w-full rounded-lg shadow-lg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Section: Design Block -->
    </div>
<!-- Container for demo purpose -->
{% endblock %}

