{% extends 'panier/layout.html.twig' %}

{% block title %}
    {% trans %}
    Souscription d'un forfait de transport écologique sur Beauvais
    {% endtrans %}
{% endblock %}
{% block body %}
    {% include "components/molecules/panier.html.twig" %}
{% endblock %}
