{% extends "panier/layout.html.twig" %}

{% block body %}
	<!-- Container for demo purpose -->
	<div
		class="container my-24 mx-auto md:px-6">
		<!-- Section: Design Block -->
		<section class="mb-32 text-center lg:text-left">
			<style>
				@media(min-width: 992px) {
					.rotate-lg-6 {
						transform: rotate(6deg);
					}
				}
			</style>
			<div class="py-12 md:px-6 md:px-12">
				<div class="container mx-auto xl:px-32">
					<div class="flex grid items-center lg:grid-cols-2">
						<div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
							<div class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
								<h2 class="mb-6 text-3xl font-bold">{% trans %}Félicitations!{% endtrans %}
								</h2>
								<p class="mb-8 text-neutral-500 dark:text-neutral-300">
									{% trans %}Votre commande est bien enregistrée, vous pouvez accéder à votre historique de réservation en vous connectant à votre espace client. Si vous n'avez pas encore de compte, vous avez la possibilité de l'activer en sélectionnant mot de passe oublié. Le détail du paiement vous sera également envoyée par e-mail.
									{% endtrans %}
								</p>
								<div class="flex w-full">
									<div class="relative mb-3 w-full" data-te-input-wrapper-init>
										<input type="text" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="copy-mail-4" placeholder="Example label" value="{{ UBER_JEFF_MAIL }}" disabled/>
										<label for="copy-mail" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"></label>
									</div>
									<div>
										<button id="myMail" type="button" data-te-clipboard-init data-te-clipboard-target="#copy-mail-4" data-te-ripple-init data-te-ripple-color="light" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
											<i class="fa-solid fa-clipboard"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="md:mb-12 lg:mb-0">
							<img src="{{asset ('images/forfaits/' ~ forfait.imageName)}}" class="rotate-lg-6 w-full rounded-lg shadow-lg" alt="{{forfait.nom}}"/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section: Design Block -->
	</div>
	<!-- Container for demo purpose -->
{% endblock %}
