{% extends '/security/layout.html.twig' %}
{% block title %}
	{% trans %}Se connecter{% endtrans %}
{% endblock %}
{% block body %}
	<section class="h-screen" data-aos="zoom-in">
		<div
			class="h-full">
			<!-- Left column container with background -->
			<div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
				<div class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
					<img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="w-full" alt="Sample image"/>
				</div>
				<!-- Right column container -->
				<div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
					{% if error.message is defined %}
						{% include 'components/atoms/alert.html.twig' with { contenu: error.message, type: 'danger' } %}
					{% endif %}
					{% for message in app.flashes('success') %}
						{% include 'components/atoms/alert.html.twig' with { type: 'success', contenu: message } %}
					{% endfor %}
					{% for message in app.flashes('warning') %}
						{% include 'components/atoms/alert.html.twig' with { type: 'warning', contenu: message } %}
					{% endfor %}
					<h1 class="text-4xl text-center font-bold text-success-700">
						{% trans %}
						Se connecter{% endtrans %}
					</h1>
					<form
						method="post">
						<!-- Email input -->
						<div class="relative mb-6" data-te-input-wrapper-init>
							<input type="email" value="{{ last_username }}" name="email" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="inputEmail" autocomplete="email" placeholder="Email address" required autofocus/>
							<label for="inputEmail" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">{% trans %}Email{% endtrans %}</label>
						</div>
						<!-- Password input -->
						<div class="relative mb-6" data-te-input-wrapper-init>
							<input type="password" name="password" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="inputPassword" placeholder="Password" autocomplete="current-password" required/>
							<label for="inputPassword" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">{% trans %}Mot de passe de connexion{% endtrans %}</label>
						</div>
						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
						<!-- Login button -->
						<div class="text-center lg:text-left">
							{% include 'components/atoms/button.html.twig' with { path_route: 'app_reservation', content: 'Se connecter' } %}
							<!-- Register link -->
							<p class="mb-0 mt-2 pt-1 text-sm font-semibold">
								{% trans %}Vous n'avez pas encore de compte?{% endtrans %}
								<a href="{{ path('app_register') }}" class="text-danger transition duration-150 ease-in-out hover:text-danger-600 focus:text-danger-600 active:text-danger-700">{% trans %}Cliquez ici{% endtrans %}</a>
							</p>
							<p class="mb-0 mt-2 pt-1 text-sm font-semibold">
								<a href="{{ path('app_forgot_password_request') }}" class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-danger-600 active:text-primary-700">{% trans %}Première connexion ou Mot de passe oublié{% endtrans %}</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
