<h1>
    {% trans %}
    Bienvenue! merci de confirmer votre email!
    {% endtrans %}
</h1>
<p>
    {% trans %}
    Merci de confirmer votre adresse mail en cliquant sur le lien
    {% endtrans %}
    <br>
        <br>
            <a href="{{ signedUrl|raw }}">
                {% trans %}
                Valider mon email
                {% endtrans %}
            </a>
            .            
            {% trans %}
            Ce lien expire dans
            {% endtrans %}
            {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}
            .      
        </p>
        <p>
            {% trans %}
            Merci! à trés vite.
            {% endtrans %}
        </p>
        