{% extends 'registration/layout.html.twig' %}

{% block title %}

    {% trans %}
    Création d'un compte{% endtrans %}
    {{UBER_JEFF}}
{% endblock %}

{% block body %}

    <section data-aos="zoom-in" class="h-screen">
        <div class="container h-full px-6 py-24 mx-auto">
            <div
                class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
                <!-- Left column container with background-->
                <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
                    <img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="w-full" alt="Phone image"/>
                </div>
                <!-- Right column container with form -->
                <div class="md:w-8/12 lg:ml-6 lg:w-5/12">
                    <h1 class="text-4xl text-center font-bold text-success-700">
                        {% trans %}
                        Création d'un compte{% endtrans %}
                    </h1>
                    {{ form_start(registrationForm) }}
                    <!-- Email input -->
                    {% include "components/atoms/form_errors.html.twig" with {
                        texte: form_errors(registrationForm.email)
                    } %}
                    <div class="relative mb-6" data-te-input-wrapper-init>
                        <input type="email" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(registrationForm.email) }}" placeholder="{{ field_label(registrationForm.email) }}" name="{{ field_name(registrationForm.email) }}"/>
                        <label for="{{ field_name(registrationForm.email) }}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">
                            {{ field_label(registrationForm.email) | trans }}
                        </label>
                    </div>
                    <!-- Password input -->
                    {% include "components/atoms/form_errors.html.twig" with {
                        texte: form_errors(registrationForm.plainPassword)
                    } %}
                    <div class="relative mb-6" data-te-input-wrapper-init>
                        <input type="password" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(registrationForm.plainPassword) }}" placeholder="{{ field_label(registrationForm.plainPassword) }}" name="{{ field_name(registrationForm.plainPassword) }}" value="{{ field_value(registrationForm.plainPassword) }}"/>
                        <label for="{{ field_name(registrationForm.plainPassword) }}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">
                            {{ field_label(registrationForm.plainPassword) | trans }}
                        </label>
                    </div>
                    <!-- Remember me checkbox -->
                    <div
                        class="mb-6 flex items-center justify-between">
                        <!-- Submit button -->
                        <button type="submit" class="inline-block w-full rounded bg-primary px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-init data-te-ripple-color="light">
                            {% trans %}
                            Créer un compte
                            {% endtrans %}
                        </button>
                        <!-- Divider -->
                        <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300"></div>
                        {{ form_end(registrationForm) }}
                    </div>
                    <p>
                        {% trans %}
                        Vous avez déjà un compte
                        {% endtrans %}
                        <a class="text-success-800 font-bold" href="{{ path ('app_login') }}">
                            {% trans %}
                            Cliquez ici
                            {% endtrans %}
                        </a>
                    </p>
                </div>
            </div>
        </section>
    {% endblock %}
