{% extends 'base.html.twig' %}

{% block title %}
  Password Reset Email Sent
{% endblock %}

{% block body %}
  <!-- Container for demo purpose -->
  <div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
      <div class="flex justify-center">
        <div class="max-w-[800px]">
          <h2 class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
            {% trans %}Are you ready{% endtrans %} <br />
            <span class="text-primary dark:text-primary-400 text-3xl">{% trans %}à réinitialiser votre mot de passe?{% endtrans %}</span>
          </h2>
          <p>
            {% trans %}If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password. This link will expire in{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
          </p>
          <p>
            {% trans %}If you don't receive an email please check your spam folder or{% endtrans %}
            <a href="{{ path('app_forgot_password_request') }}">{% trans %}try again{% endtrans %}</a>.
          </p>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
{% endblock %}
