<h1>{% trans %}Hi!{% endtrans %}</h1>

<p>
  {% trans %}To reset your password, please visit the following link{% endtrans %}
</p>

<a href="{{ url('app_reset_password', { token: resetToken.token }) }}">{{ url('app_reset_password', { token: resetToken.token }) }}</a>

<p>{% trans %}This link will expire in {% endtrans %}  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{% trans %}Cheers!{% endtrans %}</p>
