{% extends 'reservation/layout.html.twig' %}

{% block title %}
    Trans Air Beauvais
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        {% include 'components/atoms/alert.html.twig' with { type: 'success', contenu: message } %}
    {% endfor %}
    {% for text in homeTexts %}
        {% if app.locale == 'fr' %}
            <div class="py-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-900">
                <h1 class="mb-4 font-serif">
                    {{ text.titreAccroche }}
                </h1>
                <h2 class="text-blue-600 dark:text-blue-500 text-2xl">{{ text.subtitleAccroche|raw }}</h2>
                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{ text.phraseAccroche|raw }}</p>
            </div>
        {% elseif app.locale == 'en' %}
            <div class="text-center">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-900">
                    {{ text.titreAccrocheEn }}
                    <span class="text-blue-600 dark:text-blue-500">{{ text.subtitleAccrocheEn|raw }}</span>
                </h1>
                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{ text.phraseAccrocheEn|raw }}</p>
            </div>
        {% elseif app.locale == 'es' %}
            <div class="text-center">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-900">
                    {{ text.titreAccroche | trans }}
                    <span class="text-blue-600 dark:text-blue-500">{{ text.subtitleAccrocheEs|raw }}</span>
                </h1>
                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{ text.phraseAccrocheEs|raw }}</p>
            </div>
        {% elseif app.locale == 'it' %}
            <div class="text-center">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-900">
                    {{ text.titreAccrocheIt }}
                    <span class="text-blue-600 dark:text-blue-500">{{ text.subtitleAccrocheIt|raw }}</span>
                </h1>
                <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{ text.phraseAccrocheIt|raw }}</p>
            </div>
        {% endif %}

    {% endfor %}
    {{ form_start(smsForm) }}
    <div class="flex justify-center">
        <section class="rounded-md p-6 md:w-1/2 text-center shadow-lg md:p-12 md:text-left bg-green-200">
            <div class="text-center text-3xl">{% trans %}Besoin d'un chauffeur rapidement{% endtrans %}</div>
            <div class='text-center flex flex-col m-2 justify-center items-center w-auto'>
                {% include "components/atoms/form_errors.html.twig" with { texte: form_errors(smsForm.telephone)} %}
                <div class="relative w-auto my-2" data-te-input-wrapper-init>
                    <input type="tel" class="peer min-h-[auto] text-neutral-800 w-full rounded border-0 bg-neutral-400 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{field_name(smsForm.telephone)}}" name="{{field_name(smsForm.telephone)}}" value="{{field_value(smsForm.telephone)}}"/>
                    <label for="{{field_name(smsForm.telephone)}}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-800 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">{{field_label(smsForm.telephone) | trans}}
                    </label>
                </div>
                <button method="POST" type="submit" class="inline-block rounded bg-primary px-6 pt-3 pb-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-15 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-initdata-te-ripple-color="light">
                    {% trans %}Envoyer{% endtrans %}
                </button>
            </div>
            {{ form_end(smsForm) }}
            <div class='text-center'>
                <small>{% trans %}N'oubliez pas d'indiquer l'indicatif téléphonique de votre pays{% endtrans %}
                </small>
            </div>
        </section>
    </div>


    <div class="md:px-0">
        <div class="w-full">
            {% include 'components/organisms/reservation.html.twig' %}
        </div>
    </div>
    {% include 'components/molecules/heroSection.html.twig' %}
    {% include "components/molecules/modal.html.twig" %}
    {% include 'components/organisms/carte.html.twig' %}
{% endblock %}
