{% extends 'reservation/layout.html.twig' %}
{% block title %}
    {% trans %}
    Mes réservations
    {% endtrans %}
{% endblock %}
{% block body %}
    {% if resas|length > 0 %}
        <div class="grid md:grid-cols-3 gap-4 mx-auto">
            {% for resa in resas %}
                <div class="mt-1 mb-4 inline-block rounded-lg bg-white text-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <div class="border-b-2 border-neutral-100 px-6 py-3 dark:border-neutral-600 dark:text-neutral-50">
                        {{ resa.createdAt|date('d-m-Y à m:h') }}
                    </div>
                    <div class="p-6">
                        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                            {% trans %}
                            Tarjet vers 
                            {% endtrans %}
                            {{ resa.forfait }}
                        </h5>
                        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                            {% trans %}
                            Toutes l'équipe de
                            {% endtrans %}
                            <Em class="font-bold">
                                {{ UBER_JEFF }}
                            </Em>
                            {% trans %}
                            vous remercie de votre confiance.
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% include "components/molecules/emptyReservation.html.twig" %}
    {% endif %}
{% endblock %}
