{% extends 'profil/layout.html.twig' %}

{% block title %}
	{% trans %}Profil utilisateur{% endtrans %}
{% endblock %}

{% block body %}
	<!-- Container for demo purpose -->
	<div
		class="md:container mx-auto md:px-6">
		<!-- Section: Design Block -->
		{% include 'components/atoms/heading2.html.twig' with { content: 'Profil utilisateur' } %}
		<section class="">
			<div class="relative h-[300px] overflow-hidden bg-cover bg-[50%] bg-no-repeat bg-[url('https://mdbcdn.b-cdn.net/img/new/textures/full/171.jpg')]"></div>
			<div class="md:container px-1 md:px-12">
				<div id="contact" class="block rounded-lg bg-[hsla(0,0%,100%,0.7)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.7)] dark:shadow-black/20 md:py-16 md:px-12 -mt-[100px] backdrop-blur-[30px]">
			<h2 class="font-mono text-3xl">{% trans %}Modifications de vos informations personnelles{% endtrans %}</h2>
					<div class="grid lg:grid-cols-2 lg:gap-6 py-4">
						{% include 'components/molecules/profile_form.html.twig' %}
					</div>
				</div>
			</div>
		</section>
		<!-- Section: Design Block -->
	</div>
	<!-- Container for demo purpose -->
{% endblock %}
