{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('profil') }}
{% endblock %}