<div id="carouselDarkVariant" class="relative" data-te-carousel-init data-te-ride="carousel">
	<!-- Carousel indicators -->
	<!-- Carousel items -->
		<div class="p-10 w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[50px] z-[10]"> <div
			class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
			<!-- First item -->
			<div class="relative float-left -mr-[100%] w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none" data-te-carousel-fade data-te-carousel-item data-te-carousel-active>
				<img src="{{asset ('images/forfaits/' ~ forfait.imageName) | imagine_filter('forfait')}}" class="block w-full rounded-lg" alt="Motorbike Smoke"/>
			</div>
			<!-- Second item -->
			{% if forfait.carousel0 %}
				<div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none" data-te-carousel-fade data-te-carousel-item>
					<img src="{{asset ('images/forfaits/' ~ forfait.carousel0) | imagine_filter('forfait')}}" class="block w-full rounded-lg" alt="Mountaintop"/>
				</div>
			{% endif %}


			<!-- Third item -->
			{% if forfait.carousel1 %}
				<div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none" data-te-carousel-fade data-te-carousel-item>
					<img src="{{asset ('images/forfaits/' ~ forfait.carousel1) | imagine_filter('forfait')}}" class="block w-full rounded-lg" alt="Mountaintop"/>
				</div>
			{% endif %}


			<!-- forth item -->
			{% if forfait.carousel2 %}
				<div class="relative float-left -mr-[100%] hidden w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none" data-te-carousel-fade data-te-carousel-item>
					<img src="{{asset ('images/forfaits/' ~ forfait.carousel2) | imagine_filter('forfait')}}" class="block w-full rounded-lg" alt="Mountaintop"/>
				</div>
			{% endif %}
		</div>
	</div>
</div>
