<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <div class="flex justify-center">
            <div class="max-w-[800px]">
                <h2 class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
                    {% trans %}
                    Dommage!
                    {% endtrans %}
                    <br/>
                    <span class="text-primary dark:text-primary-400">
                        Votre panier est vide
                    </span>
                </h2>
                <p class="text-lg text-neutral-500 dark:text-neutral-300">
                    <a type="button" href="{{ path ('app_reservation') }}" class="inline-block rounded-full bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                        {% trans %}
                        Réserver un trajet
                        {% endtrans %}
                    </a>
                </p>
            </div>
        </div>
    </section>
<!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
