<!-- Container for demo purpose -->
<div class="container my-12 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <div class="px-6 py-12 md:px-12">
            <div class="container mx-auto xl:px-32">
                <div class="flex grid items-center lg:grid-cols-2">
                    <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                        <div class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[25px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
                            <h1 class="mt-2 mb-8 text-3xl font-bold tracking-tight md:text-5xl xl:text-6xl">
                                {% trans %}
                                Vous n'avez fait
                                {% endtrans %}
                                <br/>
                                <span class="text-primary dark:text-primary-400">
                                    {% trans %}
                                    Aucune réservation
                                    {% endtrans %}
                                </span>
                            </h1>
                            <a href="{{ path ('app_reservation') }}" type="button" class="inline-block rounded bg-primary px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-init data-te-ripple-color="light">
                                {% trans %}
                                Réserver maintenant
                                {% endtrans %}
                            </a>
                        </div>
                    </div>
                    <div class="md:mb-12 lg:mb-0">
                        <img src="https://mdbcdn.b-cdn.net/img/new/ecommerce/vertical/053.jpg" class="lg:rotate-[3deg] w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
