<!-- Section: Design Block -->
<section data-aos="fade-up" class="mb-40 overflow-hidden">
	<div class="hero relative overflow-hidden bg-cover bg-no-repeat bg-[50%] h-[500px]">
		<div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed bg-[hsla(0,0%,0%,0.50)]">
			<div class="flex h-full items-center justify-center">
				<div class="px-6 text-center text-success-300 md:px-12">
					{% for text in homeTexts %}
						<h1 class="mt-6 mb-16 text-4xl font-bold tracking-tight md:text-4xl xl:text-7xl">
							{% if app.locale == 'fr' %}
								{{ text.slogan|raw}}
							{% elseif  app.locale == 'en' %}
								{{ text.sloganEn|raw}}
							{% elseif  app.locale == 'es' %}
								{{ text.sloganEs|raw}}
							{% elseif  app.locale == 'it' %}
								{{ text.sloganIt|raw}}
							{% endif %}
						</h1>
					{% endfor %}
					<a class="mb-2 inline-block rounded-full border-2 border-neutral-50 px-[46px] pt-[14px] pb-[12px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 md:mr-2 md:mb-0" data-te-ripple-init data-te-ripple-color data-te-smooth-scroll-init="light" href="#reservation" role="button">
						{% trans %}
						Réserver une course
						{% endtrans %}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="-mt-2.5 text-white dark:text-neutral-800 md:-mt-4 lg:-mt-6 xl:-mt-10 h-[50px] scale-[2] origin-[top_center]">
		<svg viewbox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
			<path d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z" fill="currentColor"></path>
		</svg>
	</div>
	<!-- Background image -->
</section>
<!-- Section: Design Block -->
