<!-- Container for demo purpose -->
<div
    class="my-10 mx-auto">
    <!-- Section: Design Block -->
    <section class="">
        <div class="relative h-screen">

            {% include "components/molecules/carouselBig.html.twig" %}
            <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed">
                <div class="sm:flex-none flex h-full items-center justify-center">
                    <div class="opacity-80  hover:opacity-90 px-6 text-center text-white md:px-12 bg-success-800 rounded p-6 z-[6]">
                        <div class="lg:pl-12 font-bold">
                            {{ form_start(form) }}

                            <h1 class="text-xl text-center text-neutral-200  dark:text-green-500">
                                {% trans %}
                                Vous avez choisi le forfait
                                {% endtrans %}
                            </h1>
                            <h5 class="text-xl text-center text-neutral-200 dark:text-green-500 font-bold">
                                {{ panier.forfait.nom | trans }}

                            </h5>
                            <h5 class="text-xl text-center text-neutral-200 dark:text-green-500 font-bold mb-2">
                                {% trans %}
                                au tarif de
                                {% endtrans %}

                                <strong class="text-primary-400">
                                    {% if prixAuKilometre is not null %}
                                        {{  prixAuKilometre |format_currency('EUR', {fraction_digit: 2}) }}
                                    {% else %}
                                        {{  panier.forfait.prix |format_currency('EUR', {fraction_digit: 2}) }}
                                    {% endif %}
                                </strong>

                                {% for message in app.flashes('info') %}
                                    <div class="mb-4 rounded-lg bg-primary-100 px-6 py-5 text-base text-primary-600" role="alert">
                                        <a href="{{path ('app_login')}}">
                                            {{message}}
                                            <P>
                                                Veuillez vous connecter à votre compte en cliquant sur ce lien
                                            </P>
                                        </a>

                                    </div>

                                {% endfor %}

                            </h5>
                            {# Date et heure de reservation #}
                            {% include "components/atoms/form_errors.html.twig" with {
                                texte: form_errors(form.createdAt)
                             } %}

                            <label class="block pointer-events-none  left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-50 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary" for="{{ field_name(form.createdAt) }}">
                                {{ field_label(form.createdAt) | trans }}
                            </label>
                            <input type="datetime-local" id="{{ field_name(form.createdAt) }} createdAt" name="{{ field_name(form.createdAt) }}" placeholder="" value="{{ field_value(form.createdAt) }}" class="text-neutral-800 mt-1 mb-3 peer block min-h-[auto] w-full rounded border-0 bg-neutral-400 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-800 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0">

                            {% include "components/atoms/form_errors.html.twig" with {
                                texte: form_errors(form.bagage)
                             } %}
                            <div class="relative mb-3" data-te-input-wrapper-init>
                                <input name="{{ field_name(form.bagage) }}" value="{{ field_value(form.bagage) }}" type="number" class="peer block min-h-[auto] w-full rounded border-0 bg-neutral-400 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(form.bagage) }}" placeholder="{{ field_label(form.bagage) }}"/>
                                <label for="{{ field_name(form.bagage) }}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-800 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">
                                    {{ field_label(form.bagage) | trans }}
                                </label>
                            </div>
                            {# Nombre de personnes #}
                            {% include "components/atoms/form_errors.html.twig" with {
                                texte: form_errors(form.personne)
                             } %}
                            <div class="relative mb-3" data-te-input-wrapper-init>
                                <input name="{{ field_name(form.personne) }}" value="{{ field_value(form.personne) }}" placeholder="{{ field_label(form.personne) }}" type="number" class="peer block min-h-[auto] w-full rounded border-0 bg-neutral-400 px-3 py-[0.32rem] leading-[1.6] text-neutral-600 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(form.personne) }}" placeholder="{{ field_label(form.personne) }}"/>
                                <label for="{{ field_name(form.personne) }}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-800 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">
                                    {{ field_label(form.personne) | trans }}
                                </div>

                                {% include "components/atoms/form_errors.html.twig" with {
                                    texte: form_errors(form.email)
                                } %}
                                <div class="relative mb-3" data-te-input-wrapper-init>
                                    <input type="text" class="text-neutral-800 peer block min-h-[auto] w-full rounded border-0 bg-neutral-{{app.user ? 100 : 400}} px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:bg-neutral-700 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(form.email) }}" name="{{ field_name(form.email) }}" value="{{ app.user.email ?? field_value(form.email) }}" aria-label="Disabled input example"/>

                                    <label for="exampleFormControlInput5" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-primary transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">
                                        {{ field_label(form.email) | trans }}
                                    </label>
                                </div>
                                {# Telephone ############################################################# #}
                                {% include "components/atoms/form_errors.html.twig" with {
                                    texte: form_errors(form.telephone)
                                } %}
                                <div class="relative mb-3" data-te-input-wrapper-init>
                                    <input type="tel" class="peer block min-h-[auto] w-full text-neutral-800 rounded border-0 bg-neutral-400 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{field_name(form.telephone)}}" name="{{field_name(form.telephone)}}" value="{{field_value(form.telephone)}}"/>
                                    <label for="{{field_name(form.telephone)}}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-800 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">{{field_label(form.telephone) | trans}}
                                    </label>
                                </div>
                                <h6 class="text-sm italic lg:text-left mt-3">
                                    {% trans %}
                                    Cliquer ci-dessous pour profiter de l'offre exclusive à -10% pour votre aller retour à un prix total de
                                    {% endtrans %}
                                    <span class="font-bold text-primary-400">
                                        {{ (forfait.prix  * 2 * 0.9) | format_currency ('EUR', locale='fr') }}
                                    </span>
                                </strong>
                            </h6>
                            {# retour avec collapse pour indiquer la date de retour #}
                            <div class="flex items-center" data-te-ripple-color="light" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                {{ form_widget(form.retour) }}
                            </div>
                            <div class="!visible hide" id="collapseExample">
                                <div class="relative">
                                    <label class="block pointer-events-none  left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-50 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary" for="{{ field_name(form.retourAt) }}">
                                        {{ field_label(form.retourAt) | trans }}
                                    </label>
                                    <input type="datetime-local" id="{{ field_name(form.retourAt) }} retourAt" name="{{ field_name(form.retourAt) }}" placeholder="{{ field_label(form.retourAt) }}" value="{{ field_value(form.retourAt) }}" class="mt-1 w-full mb-3 peer block min-h-[auto] rounded border-0 bg-neutral-400 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-800 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"></div>
                            </div>
                            {% include "components/atoms/form_errors.html.twig" with {
                                texte: form_errors(form.retourAt)
                             } %}
                            <button method="POST" type="submit" class="inline-block rounded bg-primary px-12 pt-3.5 pb-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-15 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-initdata-te-ripple-color="light">
                                {% trans %}
                                Procéder au règlement
                                {% endtrans %}
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
