{{form_start(form)}}

{% for message in app.flashes('info') %}
	{% include 'components/atoms/alert.html.twig' with { type: 'info', contenu: message } %}
{% endfor %}

{% include "components/atoms/form_errors.html.twig" with {
    texte: form_errors(form.nom)
} %}
{% include "components/atoms/input.html.twig" with {
    name:   field_name(form.nom),
    value:  app.user.nom ?? '',
    type:   'text',
    label:  field_label(form.nom)
} %}

{% include "components/atoms/form_errors.html.twig" with {
    texte: form_errors(form.prenom)
} %}
{% include "components/atoms/input.html.twig" with {
    name: field_name(form.prenom),
    value: app.user.prenom ?? '',
    type: 'text',
    label: field_label(form.prenom)
} %}


{% include "components/atoms/form_errors.html.twig" with {
    texte: form_errors(form.telephone)
    } %}
<small>
	{{ form_help (form.telephone) | trans | raw }}

</small>
{% include "components/atoms/input.html.twig" with {
    name: field_name(form.telephone),
    value: app.user.telephone ?? '',
    type: 'tel',
    label: field_label(form.telephone)
} %}

<select data-te-select-init data-te-class-select-input="peer block min-h-[auto] w-full rounded border-0 bg-neutral-700 outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-gray-200 dark:placeholder:text-gray-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 cursor-pointer data-[te-input-disabled]:bg-[#e9ecef] data-[te-input-disabled]:cursor-default group-data-[te-was-validated]/validation:mb-4 dark:data-[te-input-disabled]:bg-zinc-600" name="{{ field_name(form.pays) }}">
    
	<option value="">
		{{ field_label(form.pays) }}
	</option>
	{% for label, value in field_choices(form.pays) %}
		<option value="{{ value }}">
			{{ label }}
		</option>
	{% endfor %}
	<label data-te-select-label-ref>
		{{ field_label(form.pays) }}
	</label>
</select>
{% include "components/atoms/form_errors.html.twig" with {
    texte: form_errors(form.pays)
} %}
{% if app.user.pays != null %}
	{{ field_help(form.pays) | trans }}
	=>

{% endif %}

{{ app.user.pays | country_name }}


{% include "components/atoms/button.html.twig" with {
    path_route: 'app_profil',
} %}


{{form_end(form)}}
