{# {% use 'tailwind_2_layout.html.twig' %}


{%- block form_label -%}
    {%- set label_class = label_class|default('') -%}
    {{- parent() -}}
{%- endblock -%}

{%- block widget_attributes -%}
    {%- set widget_class = widget_class|default('') -%}
    {{- parent() -}}
{%- endblock -%}

{%- block form_row -%}
    {%- set row_class = row_class|default('text-black') -%}
    {{- parent() -}}
{%- endblock -%}

{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('') -%}
    {{- parent() -}}
{%- endblock -%}

{%- block checkbox_label -%}
    {%- set label_class = label_class|default('') -%}
    {{- block('form_label') -}}
{%- endblock -%} #}