body {
    margin: 0;
    padding: 0;
}

#detail_reservation_horaire {
    color: text-neutral-200
}

#detail_reservation_retour_0 {
    background-color: rgb(74, 222, 128)
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';
@import "leaflet-control-geocoder/dist/Control.Geocoder.css";
@import "geoportal-extensions-leaflet/dist/GpPluginLeaflet.css";

@import "./carte";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.hero {
    background-image: url('/public/images/hero.jpg');
}

#collapseExample.hide {
    opacity: 1;
    transition: opacity 0.5s linear;
}

#collapseExample.hide {
    opacity: 0;
}