{% extends 'contact/layout.html.twig' %}

{% block title %}Contactez-nous !
{% endblock %}

{% block body %}
    <!-- Container for demo purpose -->
    <div
        class="md:container {# md:my-24 #} mx-auto md:px-6">
        <!-- Section: Design Block -->
        {% include "components/atoms/heading2.html.twig" with {
    content: "Nous contacter"
  } %}
        <section class="">
            <div class="relative h-[300px] overflow-hidden bg-cover bg-[50%] bg-no-repeat bg-[url('https://mdbcdn.b-cdn.net/img/new/textures/full/171.jpg')]"></div>
            <div class="md:container px-1 md:px-12">
                <div id="contact" class="block rounded-lg bg-[hsla(0,0%,100%,0.7)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.7)] dark:shadow-black/20 md:py-16 md:px-12 -mt-[100px] backdrop-blur-[30px]">
                    <div class="mb-12 grid gap-x-6 md:grid-cols-2 lg:grid-cols-4">
                        <div class="mx-auto mb-6 text-center md:mb-0">
                            <img src="{{asset ('images/logo.png')}}" alt="">
                        </div>
                    </div>
                    <div class="mx-auto max-w-[700px]">
                        {{form_start(form)}}
                        {# Objet du mail #}
                        {% include "components/atoms/form_errors.html.twig" with {
                            texte: form_errors(form.objet)
                        } %}
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <input type="text" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(form.objet) }}" placeholder="Objet de votre message" name="{{ field_name(form.objet) }}" value="{{ field_value(form.objet) }}"/>
                            <label class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary" for="{{ field_name(form.objet) }}">{% trans %}Objet de votre message{% endtrans %}
                            </label>
                        </div>
                        {# Mail du client #}
                        {% include "components/atoms/form_errors.html.twig" with {
                            texte: form_errors(form.email)
                        } %}
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <input type="email" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="exampleInput91" placeholder="Email address" name="{{ field_name(form.email) }}" value="{{ field_value(form.email) }}"/>
                            <label class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary" for="exampleInput91">{% trans %}Adresse email{% endtrans %}
                            </label>
                        </div>
                        {# Telephone du client #}
                        {% include "components/atoms/form_errors.html.twig" with {
                            texte: form_errors(form.telephone)
                        } %}
                        <div class="relative mb-3" data-te-input-wrapper-init>
                            <input type="tel" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(form.telephone) }}" placeholder="{{ field_label(form.telephone) }}" name="{{ field_name(form.telephone) }}" value="{{ field_value(form.telephone) }}"/>
                            <label for="{{ field_name(form.telephone) }}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">{{ field_label(form.telephone) | trans}}
                            </label>
                        </div>
                        {# Contenu du message#}
                        {% include "components/atoms/form_errors.html.twig" with {
                            texte: form_errors(form.contenu)
                        } %}
                        <div class="relative mb-6" data-te-input-wrapper-init>
                            <textarea class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(form.contenu) }}" rows="3" placeholder="Your message" name="{{ field_name(form.contenu) }}" value="{{ field_value(form.contenu) }}"></textarea>
                            <label for="{{ field_name(form.contenu) }}" class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">
                                {% trans %}Votre message{% endtrans %}
                            </label>
                        </div>
                        {% include "components/atoms/button.html.twig" with {
                            content: 'Envoyer votre message',
                            path_route: 'app_reservation'
                        } %}
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->
{% endblock %}
