{% if texte %}
	<span class="mb-3 inline-block rounded-full bg-danger-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-danger-700">
		{{texte | raw }}
	</span>
{% endif %}
 