<div class="relative" data-te-dropdown-ref>
  <a class="flex items-center whitespace-nowrap rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-neutral transition duration-150 ease-in-out hover:bg-neutral-600  focus:bg-neutral-600 focus:outline-none focus:ring-0 active:bg-neutral-700  motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" type="button" id="localesMenu" data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init data-te-ripple-color="light">
    <img src="{{ asset('images/drapeau/' ~ app.locale ~ '.png')|imagine_filter('logo') }}" alt="{% trans %}Choix de la langue{% endtrans %}" class="bg-transparent" />
    <span class="ml-2 w-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </span>
  </a>
  <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block" aria-labelledby="localesMenu" data-te-dropdown-menu-ref>
    {% for locale in locales %}
      {% if locale != app.locale %}
        <li>
          <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600" href="{{path ('change_locale', {'locale' : locale})}}" data-te-dropdown-item-ref>
            {% if locale == 'fr' %}
              Français
            {% elseif locale == 'en' %}
              English
            {% elseif locale == 'es' %}
              Español
            {% elseif locale == 'it' %}
              Italiano
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>


