<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set content = "La meilleure offre de transport écologique sur Beauvais" %}
        <meta name="description" content="{{content | trans}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset ('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset ('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset ('favicon/site.webmanifest') }}">
        <title>
            {% block title %}
                {% trans %}
                Bienvenue sur Trans'Air Beauvais
                {% endtrans %}
            {% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gradient-to-r from-neutral-50 to-neutral-100">
        {% block navbar %}
            <!-- Navbar -->
            {% include "components/elements/navbar.html.twig" %}
        <!-- Navbar -->
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include "components/elements/footer.html.twig" %}
        {% endblock %}
        {% include "/components/atoms/scrollToTop.html.twig" %}
    </body>
</html>
