<!-- Footer container -->
<footer data-aos="fade-up" class="bg-green-100 text-center text-neutral-600 dark:bg-green-600 dark:text-neutral-200 lg:text-left">
  <div class="flex items-center justify-center border-b-2 border-green-200 p-6 dark:border-green-700 lg:justify-between">
    <div class="mr-12 hidden lg:block">
      <span>{% trans %}Me suivre sur les réseaux{% endtrans %}</span>
    </div>
    <!-- Social network icons container -->
    <div class="flex justify-center">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=61555051217692" class="mr-6 text-neutral-600 dark:text-neutral-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewbox="0 0 24 24">
          <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
        </svg>
      </a>
     
    </div>
  </div>
  <!-- Main container div: holds the entire content of the footer, including four sections (Tailwind Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- Tailwind Elements section -->
      <div class="">
        <p>
          {% trans %}
          <em>Vous souhaitez profiter d'une offre de transport sûre avec une tarification claire, des chauffeurs soignés et des véhicules hybrides ou électriques. N'hésitez plus, réservez votre course sur notre plateforme ou en nous contactant par mail ou dans la section contact du site.</em>
          {% endtrans %}
        </p>
      </div>
      <!-- Products section -->
      <div class="">
        <h3 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">{% trans %}Nos véhicules{% endtrans %}</h3>
        <p class="mb-4">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200"><span>{% trans %}Hybrides ou électriques{% endtrans %}</span></a>
        </p>
      </div>
      <!-- Contact section -->
      <div>
        <h3 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">{% trans %}Contact{% endtrans %}</h3>
        <div class="flex justify-between items-center">
          <h5><i class="fa-solid fa-mobile px-3"></i></h5>
          <h5>
            <div id="container-example" class="fixed right-0 top-0 z-[2000] mr-3 mt-[59px] hidden w-1/4 items-center rounded-lg bg-success-800 px-6 py-4 text-base text-neutral-100 data-[te-alert-show]:inline-flex" role="alert" data-te-alert-init data-te-autohide="true" data-te-delay="4000">
              {% trans %}Numéro copié{% endtrans %}
            </div>
            <div class="flex w-full">
              <div class="relative mb-3 w-full" data-te-input-wrapper-init>
                <input type="text" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="copy-target-4" placeholder="Example label" value="{{ UBER_JEFF_TELEPHONE }}" disabled />
                <label for="copy-target" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"></label>
              </div>
              <div>
                <button id="myExample" type="button" data-te-clipboard-init data-te-clipboard-target="#copy-target-4" data-te-ripple-init data-te-ripple-color="light" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"><i class="fa-solid fa-clipboard"></i></button>
              </div>
            </div>
          </h5>
        </div>
        <div class="flex justify-between items-center">
          <h5><i class="fa-solid fa-paper-plane"></i></h5>
          <h5>
            <div id="container-mail" class="fixed right-0 top-0 z-[2000] mr-3 mt-[59px] hidden w-1/4 items-center rounded-lg bg-success-800 px-6 py-4 text-base text-neutral-100 data-[te-alert-show]:inline-flex" role="alert" data-te-alert-init data-te-autohide="true" data-te-delay="4000">
              {% trans %}Mail copié{% endtrans %}
            </div>
            <div class="flex w-full">
              <div class="relative mb-3 w-full" data-te-input-wrapper-init>
                <input type="text" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="copy-mail-4" placeholder="Example label" value="{{ UBER_JEFF_MAIL }}" disabled />
                <label for="copy-mail" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"></label>
              </div>
              <div>
                <button id="myMail" type="button" data-te-clipboard-init data-te-clipboard-target="#copy-mail-4" data-te-ripple-init data-te-ripple-color="light" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"><i class="fa-solid fa-clipboard"></i></button>
              </div>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright section -->
  <div class="bg-green-200 p-6 text-center dark:bg-green-700">
    <span>© 2023 Copyright :</span>
    <a class="font-semibold text-neutral-600 dark:text-black" href="#">{{ UBER_JEFF }}</a>
  </div>
</footer>
