<!-- Main navigation container -->
<nav class="relative flex w-full flex-nowrap items-center justify-between bg-neutral-800 py-2 text-neutral-50 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-800 lg:flex-wrap lg:justify-start lg:py-4" data-te-navbar-ref>
	<div class="flex w-full flex-wrap items-center justify-between px-3">
		<div class="ml-2">
			<a class="text-black dark:text-black-400" href="{{ path('app_reservation') }}"><img src="{{ asset('images/logo1.png') }}" alt="{{UBER_JEFF}}" style="max-width:150px"/></a>
			{% if app.user %}
				<a href="{{ path ('app_profil')}}">{{ app.user.email }}</a>
			{% endif %}
		</div>
		<!-- Hamburger button for mobile view -->
		<button
			class="block border-0 bg-transparent px-2 text-neutral-50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden" type="button" data-te-collapse-init data-te-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation">
			<!-- Hamburger icon -->
			<span class="[&>svg]:w-7">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="h-7 w-7">
					<path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
				</svg>
			</span>
		</button>
		<!-- Collapsible navbar container -->
		<div
			class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto" id="navbarSupportedContent3" data-te-collapse-item>
			<!-- Left links -->
			<div
				class="list-style-none mr-auto flex flex-col pl-0 lg:mt-1 lg:flex-row" data-te-navbar-nav-ref>
				<!-- Pricing link -->
				<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
					<a class="p-0 text-neutral-50 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('app_reservation', { '_fragment': 'reservation' }) }}" data-te-nav-link-ref>{% trans %}Réservation{% endtrans %}</a>
				</div>
				<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
					<a class="p-0 text-neutral-50 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('app_contact', { '_fragment': 'contact' }) }}" data-te-nav-link-ref>{% trans %}Nous contacter{% endtrans %}</a>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
						<a class="p-0 text-neutral-50 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('admin') }}" data-te-nav-link-ref>Admin</a>
					</div>
				{% endif %}
				{% if is_granted('ROLE_USER') %}
					<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
						<a class="p-0 text-neutral-50 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('app_mes_resa') }}" data-te-nav-link-ref>{% trans %}Mes réservations{% endtrans %}</a>
					</div>
					<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
						<a class="p-0 text-neutral-50 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('app_profil') }}" data-te-nav-link-ref>{% trans %}Mon profil{% endtrans %}</a>
					</div>
					<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
						<a class="p-0 text-red-400 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-red-600 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('app_logout') }}" data-te-nav-link-ref>{% trans %}Déconnexion{% endtrans %}</a>
					</div>
				{% else %}
					<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
						<a class="p-0 text-neutral-50 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('app_register') }}" data-te-nav-link-ref>{% trans %}Créer un compte{% endtrans %}</a>
					</div>
					<div class="mb-4 pl-2 lg:mb-0 lg:pl-0 lg:pr-1" data-te-nav-item-ref>
						<a class="p-0 text-neutral-50 transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400" href="{{ path('app_login') }}" data-te-nav-link-ref>{% trans %}Connexion{% endtrans %}</a>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="relative ml-4" data-te-dropdown-ref>
			{% include 'components/atoms/locales.html.twig' %}
		</div>
	</div>
</nav>
