<!-- Container for demo purpose -->

<div
    data-aos="fade-up" class="container mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <div class="">
            {% for text in homeTexts %}
                {% if app.locale == 'fr' %}
                    <h2 class="my-12 md:text-4xl font-bold leading-tight tracking-tight">
                        {{text.titre}}
                        <br/>
                        <span class="text-success-800 dark:text-primary-400 md:text-2xl">{{text.subtitle|raw}}</span>
                    </h2>
                {% elseif app.locale == 'en' %}
                    <h2 class="my-12 md:text-4xl font-bold leading-tight tracking-tight">
                        {{text.titreEn}}
                        <br/>
                        <span class="text-success-800 dark:text-primary-400 md:text-2xl">{{text.subtitleEn|raw}}</span>
                    </h2>
                {% elseif app.locale == 'es' %}
                    <h2 class="my-12 md:text-4xl font-bold leading-tight tracking-tight">
                        {{text.titreEs}}
                        <br/>
                        <span class="text-success-800 dark:text-primary-400 md:text-2xl">{{text.subtitleEs|raw}}</span>
                    </h2>
                {% elseif app.locale == 'it' %}
                    <h2 class="my-12 md:text-4xl font-bold leading-tight tracking-tight">
                        {{text.titreIt}}
                        <br/>
                        <span class="text-success-800 dark:text-primary-400 md:text-2xl">{{text.subtitleIt|raw}}</span>
                    </h2>
                {% endif %}


            {% endfor %}

            <div class="flex flex-wrap justify-center space-x-2">
                <div id="itineraire"></div>
                <div id="maCarte"></div>
            </div>
            <div class="justify-center mt-6">
                <button type="button" onclick="distance()" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 w-64">{% trans %}Afficher le tarif de ma course{% endtrans %}
                </button>
                <div id="distance" class="text-green-500 text-5xl text-center block w-full p-2.5 dark:text-green-500">0€
                </div>
                {{form_start(formKilometre)}}
                {% include "components/atoms/form_errors.html.twig" with {
                    texte: form_errors(formKilometre.prix)
                } %}
                <div class="relative mb-3 hidden" data-te-input-wrapper-init>
                    <input type="text" class=" kilometre peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{field_name(formKilometre.prix)}}" placeholder="{{field_label(formKilometre.prix)}}" name="{{field_name(formKilometre.prix)}}" value="{{field_value(formKilometre.prix)}}"/>

                    <label for="{{field_name(formKilometre.prix)}}" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">{{field_name(formKilometre.prix)}}
                    </label>
                </div>
                <button class="hidden mb-3 mt-3 w-1/2 rounded px-6 pb-2 pt-2.5 text-xs bg-gradient-to-r from-cyan-500 to-blue-500 font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]" type="submit" data-te-ripple-init id="reservation" data-te-ripple-color="light">
                    {% trans %}Réserver en ligne{% endtrans %}
                </button>
                {{form_end(formKilometre)}}
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->
    <script>
        function distance(e) {
            let distance = document.querySelector('.GProuteResultsValue>div').textContent;
            var dist = parseFloat(distance);

            console.log(distance, dist);
            // let text = '<div class="text-gray-900 text-sm">Pour réserver merci de nous contacter par <a class="text-sm" href="mailto:contact@trans-air-beauvais.com"style="color:blue">mail</a></div>';
            document.querySelector('div#distance').innerHTML = parseFloat(dist * 1.6 ).toFixed(2)+ "€";
            document.querySelector('input.kilometre').setAttribute('value', dist * 1.6);
            document.querySelector('button#reservation').classList.remove('hidden');
        }
    </script>
