<!-- Container for demo purpose -->
<div class="container mx-auto md:px-2 text-success">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <div class="grid gap-x-6 md:grid-cols-3 xl:gap-x-12">
            {% for forfait in forfaits %}
                <div data-aos="fade-up" class="mb-6 lg:mb-0 rounded-lg bg-neutral-700 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <a href="{{ path ('app_panier', {'id' : forfait.id}) }}" class="block" data-te-smooth-scroll-init>
                        <div class="relative overflow-hidden bg-cover bg-no-repeat">
                            <div>
                                <img src="{{ asset('/images/forfaits/' ~ forfait.imageName) | imagine_filter('forfait') }}" alt="{{ forfait.nom }}" />
                                <div class="absolute top-0 right-0  left-0 h-full w-full overflow-hidden bg-fixed"></div>
                            </div>
                            <svg class="absolute left-0 bottom-0 text-white  dark:text-neutral-700" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
                                <path fill="#404040" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
                            </svg>
                        </div>
                        <div class="p-4">
                            <h3 class="mb-2 md:text-xl lg:text-3xl font-bold">
                                {{ forfait.nom | trans }}
                            </h3>
                            <small class="text-base text-neutral-500 dark:text-neutral-300">
                                {% trans %}
                                au départ de 
                                {% endtrans %}
                                <em>
                                    {% trans %}
                                    l'aéroport de Beauvais
                                    {% endtrans %}
                                </em>
                            </small>
                            <h3 class="lg:text-3xl md:text-xl">
                                <small class="block">
                                    {% trans %}
                                    Au prix exceptionnel de
                                    {% endtrans %}
                                </small>
                                <strong>
                                    {{ forfait.prix | format_currency('EUR', {fraction_digit: 0}) }}
                                </strong>
                            </h3>
                            <ul class="mb-6 flex justify-center">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 96 960 960" class="w-5 text-warning">
                                        <path fill="currentColor" d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 96 960 960" class="w-5 text-warning">
                                        <path fill="currentColor" d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 96 960 960" class="w-5 text-warning">
                                        <path fill="currentColor" d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 96 960 960" class="w-5 text-warning">
                                        <path fill="currentColor" d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 96 960 960" class="w-5 text-warning">
                                        <path fill="currentColor" d="m480 757 157 95-42-178 138-120-182-16-71-168v387ZM233 976l65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                                    </svg>
                                </li>
                            </ul>
                            {# {% include "components/atoms/buttonCommentaire.html.twig" %} #}
                            <p class="py-3">
                                {% trans %}
                                aller/retour - 10% soit
                                {% endtrans %}
                                {{ ((forfait.prix * 2) - (forfait.prix * 20/100)) | format_currency('EUR', locale='fr') }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
<!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
