<div class="container mx-auto md:px-1">
	<div class="flex">
		<div class="w-full basis-auto">
			<div class="items-start text-center text-white">
				<div class="w-full p-0">
					<div>
						{% include "components/molecules/prise_de_reservation.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
