@import "../variables";

.background-radial-gradient {
  background: rgb(93, 152, 86);
  background: radial-gradient(
    circle,
    rgba(93, 152, 86, 1) 0%,
    rgba(212, 245, 205, 1) 100%
  );
  /*  background-color: $success-50; */
  /*   background-image: radial-gradient(
      650px circle at 0% 0%,
      $success-50 15%,
      $success-50 35%,
      $success-50 75%,
      $success-50 0%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      $success-50 15%,
      $success-50 35%,
      $success-50 75%,
      $success-50 80%,
      transparent 100%
    ); */
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#f9fafa, #fbfcfb);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient($primary-500, $primary-500);
  overflow: hidden;
}
